Body {
	Align-Items:		Center;
	Display:			Flex;
	Min-Height:			100vh;
	Justify-Content:	Center;
	Margin:				0;
	/* new addition bellow */
	flex-direction: column;
	justify-content: center;
	font-size: 1.25em;
	font-family: monospace;
}
Loading {
	Color:				#333333;
	Transform:			scale(1.5);
}
Loading > I {
	Color:				#0096FA;
	Margin-Right:		5px;
}

section {
	display: flex;
	padding: 5px 0;
}
.title {
	font-weight: 700;
	min-width: 25%;
}
.line {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid black;
}
.card {
	width: 750px;
	padding: 25px 25px 0;
	margin: 25px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
.surgery {
	background-color: #AFDCFA;
}
.clinical {
	background-color: rgb(255, 211, 169);
}
.button {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
.button > i:hover {
	cursor: pointer;
}

@media only screen and (max-width: 850px) {
	body {
		font-size: 1em;
	}
	.card {
		width: auto;
		max-width: 500px;
	}
}